<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="ru.iskandar.holiday.calculator.ui.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="ru.iskandar.holiday.calculator.ui.commands.category"
            id="ru.iskandar.holiday.calculator.ui.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ru.iskandar.holiday.calculator.ui.NavigationViewPart"
            fastViewWidthRatio="0.27"
            id="ru.iskandar.holiday.calculator.ui.NavigationViewPart"
            name="%navigation.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.iskandar.holiday.calculator.ui.takeholiday.TakeHolidayEditor"
            default="false"
            id="ru.iskandar.holiday.take.editor"
            name="%holiday.take.view.name">
      </editor>
   </extension>

</plugin>
