<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/alt_launcher.ico">
         <run
               class="ru.iskandar.holiday.calculator.branding.Application">
         </run>
      </application>
   </extension>
   <extension
         id="scanner_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ru.iskandar.holiday.calculator.branding.application"
            name="Учет отгулов">
         <property
               name="appName"
               value="Учет отгулов">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ru.iskandar.holiday.calculator.branding.MainPerspective"
            id="ru.iskandar.holiday.calculator.branding.MainPerspective"
            name="Основная ">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ru.iskandar.holiday.calculator.branding.MainPerspective">
         <view
               closeable="false"
               id="ru.iskandar.holiday.calculator.ui.NavigationViewPart"
               minimized="false"
               moveable="false"
               ratio="0.2"
               relationship="left"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   

</plugin>
