<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="holiday.calculator.ui.command.open.incoming"
            name="%open.incoming.menuitem.name">
      </command>
      <command
            id="holiday.calculator.ui.command.take.holiday"
            name="%take.holiday.menuitem.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ru.iskandar.holiday.calculator.ui.NavigationViewPart"
            fastViewWidthRatio="0.27"
            id="ru.iskandar.holiday.calculator.ui.NavigationViewPart"
            name="%navigation.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.iskandar.holiday.calculator.ui.takeholiday.TakeHolidayEditor"
            default="false"
            id="ru.iskandar.holiday.take.editor"
            name="%holiday.take.view.name">
      </editor>
      <editor
            class="ru.iskandar.holiday.calculator.ui.incoming.IncomingStatementsEditor"
            default="false"
            id="holiday.calculator.ui.editor.incoming"
            name="%incoming.statements.editor.name">
      </editor>
      <editor
            class="ru.iskandar.holiday.calculator.ui.takeleave.TakeLeaveEditor"
            default="false"
            id="ru.iskandar.leave.take.editor"
            name="%leave.take.view.name">
      </editor>
      <editor
            class="ru.iskandar.holiday.calculator.ui.makerecall.MakeRecallEditor"
            default="false"
            id="ru.iskandar.makerecall.editor"
            name="%makerecall.view.name">
      </editor>
      <editor
            class="ru.iskandar.holiday.calculator.ui.outgoing.OutgoingStatementsEditor"
            default="false"
            id="holiday.calculator.ui.editor.outgoing"
            name="%outgoing.statements.editor.name">
      </editor>
      <editor
            class="ru.iskandar.holiday.calculator.ui.user.UsersEditor"
            default="false"
            id="holiday.calculator.ui.editor.users"
            name="%users.editor.name">
      </editor>
      <editor
            class="ru.iskandar.holiday.calculator.ui.search.SearchEditor"
            default="false"
            id="ru.iskandar.holiday.calculator.ui.search.SearchView"
            name="%search.view.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="ru.iskandar.holiday.calculator.ui.menu.RootMenuContribution"
            locationURI="menu:org.eclipse.ui.main.menu">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.iskandar.holiday.calculator.ui.menu.handlers.TakeHolidayAction"
            commandId="holiday.calculator.ui.command.take.holiday">
      </handler>
      <handler
            class="ru.iskandar.holiday.calculator.ui.ReloadHandler"
            commandId="org.eclipse.ui.file.refresh">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ru.iskandar.holiday.calculator.ui.search.SearchStartup">
      </startup>
   </extension>

</plugin>
